In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("Cars.csv")

In [4]:
cars.shape

(398, 9)

In [5]:
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [57]:
cars.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
new_column      float64
dtype: object

In [83]:
cars.index = cars["name"]

In [10]:
cars["mpg"].unique()

array([18. , 15. , 16. , 17. , 14. , 24. , 22. , 21. , 27. , 26. , 25. ,
       10. , 11. ,  9. , 28. , 19. , 12. , 13. , 23. , 30. , 31. , 35. ,
       20. , 29. , 32. , 33. , 17.5, 15.5, 14.5, 22.5, 24.5, 18.5, 29.5,
       26.5, 16.5, 31.5, 36. , 25.5, 33.5, 20.5, 30.5, 21.5, 43.1, 36.1,
       32.8, 39.4, 19.9, 19.4, 20.2, 19.2, 25.1, 20.6, 20.8, 18.6, 18.1,
       17.7, 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 21.6, 16.2,
       19.8, 22.3, 17.6, 18.2, 16.9, 31.9, 34.1, 35.7, 27.4, 25.4, 34.2,
       34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 41.5, 38.1, 32.1, 37.2, 26.4,
       24.3, 19.1, 34.3, 29.8, 31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3,
       43.4, 36.4, 44.6, 40.9, 33.8, 32.7, 23.7, 23.6, 32.4, 26.6, 25.8,
       23.5, 39.1, 39. , 35.1, 32.3, 37.7, 34.7, 34.4, 29.9, 33.7, 32.9,
       31.6, 28.1, 30.7, 24.2, 22.4, 34. , 38. , 44. ])

In [11]:
cars["new_column"] = cars['horsepower']/cars['weight']
cars["new_column"]

name
chevrolet chevelle malibu    0.037100
buick skylark 320            0.044679
plymouth satellite           0.043655
amc rebel sst                0.043694
ford torino                  0.040591
                               ...
ford mustang gl              0.030824
vw pickup                    0.024413
dodge rampage                0.036601
ford ranger                  0.030095
chevy s-10                   0.030147
Name: new_column, Length: 398, dtype: float64

In [ ]:
cars.sort_values(['horsepower'], ascending = False)
#pontiac grand prix

In [44]:
cars_new = cars.loc[cars['mpg'] >= 35].copy()

In [ ]:
cars_new.shape
#(36, 10)

(36, 10)

In [48]:
cars1 = cars.query('horsepower > 35 and weight< 3000').copy()

In [ ]:
cars1.origin
#usa

name
toyota corona mark ii     japan
plymouth duster             usa
amc hornet                  usa
ford maverick               usa
datsun pl510              japan
                          ...
ford mustang gl             usa
vw pickup                europe
dodge rampage               usa
ford ranger                 usa
chevy s-10                  usa
Name: origin, Length: 225, dtype: object

In [85]:
cars_japan = cars[cars['origin'] == "japan"]

In [ ]:
average_acceleration = cars['acceleration'].mean()
average_acceleration
#15.568090452261307

np.float64(15.568090452261307)

In [ ]:
high_mpg = cars.sort_values(['mpg']).max()
high_mpg
#82

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                 230.0
weight                      5140
acceleration                24.8
model_year                    82
origin                     japan
name            vw rabbit custom
new_column               0.07291
dtype: object